@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clash";
  src: url("./fonts/ClashDisplay-Semibold.woff2");
}

@font-face {
  font-family: "archivo";
  src: url("./fonts/Archivo-Regular.woff2");
}

chip {
  @apply h-8 rounded-lg flex items-center justify-center px-4 cursor-pointer;
}

button{
  @apply h-10 rounded-full px-6 w-fit
}

/* Dashboard */
#dashboard::-webkit-scrollbar {
  @apply w-3;
}

#dashboard::-webkit-scrollbar-thumb {
  @apply bg-surface dark:bg-surface-dark;
}

.scrollable::-webkit-scrollbar {
  @apply h-3 md:h-2;
}

.scrollable::-webkit-scrollbar-thumb {
  @apply bg-surface dark:bg-surface-dark/40 rounded-full;
}

/*Analitycs component*/
.analyticCard {
  @apply w-1/2 h-full flex flex-col justify-center items-center bg-background dark:bg-background-dark border dark:border-outline-dark/50 rounded-xl;
}

/* Handle */
#dashboard::-webkit-scrollbar-thumb {
  @apply rounded-lg
}

#titleOneDate {
  font-family: "clash", sans-serif;
}

.buttonData {
  @apply text-sm text-secondary/60 dark:text-secondary-dark border border-surface dark:border-surface-dark;
}

.buttonActive {
  @apply text-sm bg-tertiary-container dark:bg-tertiary-container-dark text-on-tertiary-container dark:text-on-tertiary-container-dark;
}

#image {
  background-position: center;
  background-size: cover;
}
