@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  overflow-x: hidden;
}

chip {
  @apply h-8 rounded-lg flex items-center justify-center px-4 cursor-pointer;
}

button{
  @apply h-10 rounded-full px-6 w-fit
}


/* Dashboard */
#dashboard::-webkit-scrollbar {
  @apply w-3;
}

#dashboard::-webkit-scrollbar-thumb {
  @apply bg-surface dark:bg-surface-dark;
}

.scrollable::-webkit-scrollbar {
  @apply h-3 md:h-2;
}

.scrollable::-webkit-scrollbar-thumb {
  @apply bg-secondary-container dark:bg-secondary-container-dark rounded-full;
}

/* Handle */
#dashboard::-webkit-scrollbar-thumb {
  @apply rounded-lg
}

.buttonData {
  @apply text-sm text-secondary/60 dark:text-secondary-dark border border-surface dark:border-surface-dark;
}

.buttonActive {
  @apply text-sm bg-tertiary-container dark:bg-tertiary-container-dark text-on-tertiary-container dark:text-on-tertiary-container-dark;
}

#image {
  background-position: center;
  background-size: cover;
}
