@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clash";
  src: url("./fonts/ClashDisplay-Semibold.woff2");
}

@font-face {
  font-family: "archivo";
  src: url("./fonts/Archivo-Regular.woff2");
}

chip {
  @apply h-8 rounded-lg flex items-center justify-center px-4 cursor-pointer;
}

/* Dashboard */
#titleOneDate {
  font-family: "clash", sans-serif;
}

.buttonData {
  @apply text-sm text-secondary/60 dark:text-secondary-dark border border-surface dark:border-surface-dark;
}

.buttonActive {
  @apply text-sm bg-primary-container dark:bg-primary-container-dark text-on-primary-container dark:text-on-primary-container-dark;
}

#image {
  background-position: center;
  background-size: cover;
}
